{% extends "layout.html" %}

{% block title %}

Register

{% endblock %}

{% block body %}

<h1>Register to create account  </h1>

<form action="{{ url_for('registeruser') }}" method="post">



    <div class="form-group">
        <input class="form-control" name="firstname" placeholder="First Name">
    </div>
    <div class="form-group">
        <input class="form-control" name="lastname" placeholder="Last Name">
    </div>

    <div class="form-group">
        <input class="form-control" name="username" placeholder="User Name">
    </div>
    <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email">
    </div>
    <div class="form-group">
        <input class="form-control" name="country" placeholder="Country">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>

    <div class="form-group">
        <button class="btn btn-primary">Register</button>
    </div>
    <h6>Already have an Account ?
    <span >
        <a href="{{url_for('login')}}"> Login </a>
    </span></h6>
</form>
{% endblock %}